<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="20170408" android:versionName="Xamarin Developer Day 2016 demo project">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="XamarinDevDayLab"></application>
</manifest>